.MuiFormLabel-root {
  font-size: large !important;
}

.MuiFormControl-root {
  font-size: large !important;
  max-height: 1.7em !important;
}

.MuiInputBase-root {
  font-size: large !important;
  max-height: 1.6em !important;
}

#search-box {
  font-size: larger !important;
  max-height: 1.6em !important;
  width: 5rem !important;
}

@media screen and (max-width: 568px) {
  .home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

@media screen and (min-width: 568px) {
  .start {
    /* margin-top: 70px; */
  }
}

@media screen and (min-width: 568px) {
  .end {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: 'end'; */
    /* flex-wrap: wrap; */
  }
}

.imgHover:hover {
  background-color: black;
}
