.feedback {
  background-color: #584e8f;
  color: white;
  /* padding: 10px 20px; */
  border-radius: 4px;
  border-color: #584e8f;
  height: 60px;
  font-size: 24px;
}

#mybutton {
  position: fixed;
  bottom: 40px;
  right: 10px;
}
