.feedback {
  color: white !important;
  height: auto !important;
  font-size: 24px !important;
  clear: right !important;
  border: 0 !important;
  align-self: end !important;
  margin-left: 80rem !important;
  display: flex !important;
  padding-top: 0.2rem !important;
  visibility: visible;
}

.mobileview {
  color: white !important;
  height: auto !important;
  font-size: 24px !important;
  clear: right !important;
  border: 0 !important;
  align-self: end !important;
  margin-left: 80rem !important;
  display: flex !important;
  padding-top: 0.2rem !important;

  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
}

@media screen and (max-width: 812px) {
  .feedback {
    visibility: hidden;
  }
}
